<footer class="mt-5">
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/Hiteshkumar00" class="fa-brands fa-square-github rm_u"></a>
      <a href="https://in.linkedin.com/in/hitesh-kumar-90477429b" class="fa-brands fa-linkedin rm_u"></a>
      <a href="https://wa.me/qr/ROCCMQACSXGFC1" class="fa-brands fa-square-whatsapp rm_u"></a>
    </div>
    <div>&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a class="rm_u" href="/privacy">Privacy</a>
      <a class="rm_u" href="/terms">Terms</a>
    </div>
  </div>
</footer>